{% load static %}
            <!-- Footer -->

    <footer class="footer">
        <div class="footer_container">
            <div class="container">
                <div class="row">

                    <!-- Footer About -->
                    <div class="col-lg-4 footer_col">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="#">
                                <span>Fort <span>Patiala</span> Palace</span>
                                <span>The Royal Marriage Palace of Patiala</span>
                            </a>
                        </div>
                        <div class="footer_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="social footer_social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Newsletter -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_column">
                            <div class="footer_title">Newsletter</div>
                            <form action="#" class="newsletter_form" id="newsletter_form">
                                <input type="email" class="newsletter_input" placeholder="Your email address" required="required">
                                <button class="newsletter_button"><span>subscribe<img src="images/arrow.png" alt=""></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
                            <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

